# macOS system files
.DS_Store

# pytest cache
.pytest_cache/

# Sphinx build files
docs/_build/

# VSCode/IDE files
.vscode/
*.swp

# # Other system files (optional)
# Thumbs.db
# .idea/
.coverage

.pytest_cache/
