# macOS system files
.DS_Store

# pytest cache
.pytest_cache/

# VSCode/IDE files
.vscode/
*.swp

# Git directory
.git/

# Node.js modules
node_modules/

# Python bytecode files
/main
__pycache__/
*.pyc
*.pyo
*.cpython-*

# Coverage
*.coverage
htmlcov/

# Mutation Testing
mutants/


# Reference files
/src/example
*.txt

# /src/test/example
/src/test/routines/compiler.java
.zshrc

# # Other system files (optional)
# Thumbs.db
# .idea/a